@import "../../App.scss";
.card {
  border: 1px solid#E8E8ED;
  background-color: #f9fafb;
  max-width: 370px;
  padding: 2rem;
  margin: 1rem auto;
  border-radius: 8px;
  img {
    max-width: 345px;
    height: 294px;
  }
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__description {
  h3 {
    font-size: 2rem;
    text-align: left;
    margin: 2rem 0;
  }
  p {
    text-align: left;
  }
}

.price__book {
  margin: 2rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    color: $PRIMARY_BLUE;
    font-size: 2rem;
  }
  button {
    background-color: $PRIMARY_BLUE;
    font-family: "poppins", sans-serif;
    font-size: 1.6rem;
  }
}
