@import "./App.scss";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "outfit", sans-serif;
}

h1,
h2,
h3 {
  font-family: "poppins", sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  @media screen and (min-width: 1024px) {
    font-size: 3.6rem;
  }
}
p {
  font-size: 1.7rem;
  color: $GREY;
  @media screen and (min-width: 1024px) {
    font-size: 2rem;
  }
}



li {
  list-style-type: none;
  font-size: 1.8rem;
}
